<% layout('layouts/boilerplate') %> 
<div class="row">
  <h1 class="text-center">New Hobby Spot</h1>
  <div class="col-6 offset-3">
    <form action="/hobbies" method="POST">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="hobbies[title]">
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="hobbies[location]">
      </div>

      <div class="mb-3">
        <label class="form-label" for="image">Image URL</label>
        <input class="form-control" type="text" id="location" name="hobbies[image]">
      </div>

      <div class="mb3">
        <label for="price" class="form-label">Hobby Spot Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input type="text" class="form-control" id="price" placeholder="0.00" name="hobbies[price]">
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="location" name="hobbies[description]"></textarea>
      </div>

      <div class="mb-3">
        <button class="btn btn-success">Add Hobby Spot</button>
      </div>
    </form>
  
    <footer>
      <a href="/hobbies">Back to Hobbies List</a>
    </footer>
  </div>
</div>

